<%- include('templates/Header')%>
<%- include('templates/Menu')%>

<div class="row mt-5" >
    <div class="col-2"></div>
    <div class="col-8">
        <form action="/mod" method='POST'>
           <div class='card' style="background-color:#00b347;">
               <div class='card-header' >
                    <h1>Modificar noticia</h1>
                </div>
               <div class='card-body'>
                    <input type="hidden" name="idModificar" id="idModificar" value="<%= noticia[0].id%>">
                    <input class="form-control mbt-3" type='text' name='titulom' id='titulom' placeholder="Titulo" value='<%= noticia[0].titulo%>'>
                    <input class="form-control mbt-3" type='text' name='descripcionm' id='descripcionm' placeholder="Descripcion"value='<%= noticia[0].descripcion%>'>
                    <input class="form-control mbt-3" type='date' name='fecham' id='fecham' placeholder="Fecha de posteo"value='<%= noticia[0].fecha%>'>
                    <input class="form-control mbt-3" type='text' name='fotom' id='fotom' placeholder="Foto"value='<%= noticia[0].foto%>'>
                    <input class="form-control mbt-3" type='text' name='linkm' id='linkm' placeholder="Link de la noticia"value='<%= noticia[0].link%>'>
                </div>
               <div class='card-footer'>
                   <button class='btn btn-primary col-12 mb-3' type='submit'>Modificar noticia</button>
                   <a class='btn btn-secondary col-12' href='/select'>Cancelar</a>
               </div>
           </div>    
        </form>
    </div>
    <div class="col-2"></div>
</div>

<%- include('templates/Pagefeet')%>
